<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Brandon C. Richie</title>
<script src="https://use.fontawesome.com/8416ea41ee.js"></script>
<link rel="stylesheet" href="../css/mytheme.min.css">
