<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head.ejs %>
</head>

<body>
    <!-- nav -->
    <% include ./partials/navbar.ejs %>


    <!-- Page Content -->
    <main class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
            <h1 class="display-3">BxR Portfolio</h1>
            <p class="lead">Full Stack Web Developer</p>
            <img src="./images/comp.jpg" width="400" height="250">
            <!-- <a href="#" class="btn btn-primary btn-lg"></a> -->
        </header>

        <!-- Page Features -->
        <section class="row text-center">
            <section class="col-lg-4">
                <h4 class="card-title">info</h4>
                <p class="card-text"></p>
            </section>

            <section class="col-lg-4">
                <h4 class="card-title">contact</h4>
                <ul class="social">
                    <li><a href="mailto:brandoncrichie@gmail.com"><i class="fa fa-google" aria-hidden="true"></i></li>
                    <li><a href="https://github.com/BRichie"><i class="fa fa-github" aria-hidden="true" ></i></a></li>
                    <li><a href="https://www.linkedin.com/in/brandon-richie/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
            </section>

            <section class="col-lg-4">
                <h4 class="card-title"></h4>
                <p class="card-text"></p>
            </section>

        </section>
        <!-- /.row -->

    </main>
    <!-- /.container -->

    <% include ./partials/baseScripts.ejs %>

</body>

</html>